html {
  width: 500px;
  height: 200px;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0px;
}

input {
  border: 1px solid grey;
  border-radius: 3px;
}

input[data-valid='true'] {
  border-color: green;
}

input[data-valid='false'] {
  border-color: red;
}

div#settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

div#settings > div > * {
  vertical-align: middle;
}
